<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎进入微博！</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/dianzanok.js"></script>
    <style type="text/css">
    .glyphicon.active {
        color: #f22;
    }
    </style>
}
</head>
{% load thumb_up %}
<body style="text-align: center;background-image: url('/static/forbidden_city4.jpg');background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;">
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6" style=" opacity:0.8;">
                    <form name="searching" method="POST" action="/mysite/search/">
                        {% csrf_token %}
                        <input type="text" name="info" placeholder="请输入联系人关键字" style="width:250px;height:25px">
                        <button title="搜索已有联系人" type="submit" class="btn btn-info">搜索</button>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="btn-group btn-group-md">
                        <button type="button" class="btn btn-default"
                                data-toggle="modal"
                                data-target="#Writeweibo">写微博
                        </button>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="Writeweibo" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            {{ myup.name }}新建草稿
                                        </h4>
                                    </div>
                                    <form action="/mysite/writing/" method="post" id="" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea style="width: 500px; height: 200px" name="userweibo"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <input id="headImg" type="file" name="img"
                                                   accept="image/gif, image/jpeg, image/png, image/jpg"/>
                                            <div><font size="5" color="#000000">请输入你想发送的视频链接</font>&nbsp;</div>
                                            <input type="text" name="videolink"/>
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">撤销
                                            </button>
                                            <!--  <button type="button" class="btn btn-danger" data-toggle="modal"
                                                data-target="Subpicture">发布图片
                                        </button>
                                        <div class="modal fade" id="Subpicture" tabindex="-1" role="dialog"
                                             aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">×
                                                        </button>
                                                        <h4 class="modal-title" id="myModalLabel">
                                                            {{ todo.name }}添加的图片
                                                        </h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <textarea style="width: 500px; height: 200px"></textarea>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">撤销
                                                        </button>
                                                        <button type="button" class="btn btn-primary">
                                                            发布
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                            <button type="submit" class="btn btn-primary">
                                                发布
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                        <button type="button" class="btn btn-default" style=" opacity:0.8; background-color:#fff;"
                                onclick="window.location.href='/mysite/'">退出
                        </button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-danger btn-lg"
                            onclick="window.location.href='/mysite/tolist/'">
                        <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-lg"
                            onclick="window.location.href='/mysite/friendessay/'">
                        <span class="glyphicon glyphicon-user"></span> User
                    </button>
                </div>
            </div>
            <br>
            {% for todo in weibos %}
                <div class="row">
                    <div class="col-md-2"
                         style=" opacity:1; background-color:#fff; border:1px solid black;border-radius:5px;">
                        <center>
                            {% if todo.user.touxiangimg == "" %}
                                <img src="https://gss0.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=5fb248ee858ba61edfbbc0297104bb32/ac345982b2b7d0a2e2734ab9ccef76094b369a58.jpg"
                                     height="40" width="40">
                            {% else %}
                                <img src="{{ todo.user.touxiangimg.url }}" height="40" width="40"
                                     style="border-radius:200px;">
                            {% endif %}
                            {% if todo.user.id == user.id %}
                                <button type="button" class="btn btn-link"
                                        onclick="window.location.href='/mysite/tomyweibo/'">
                                    <p style="font-size:15px">{{ todo.user.name }}
                                    </p>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-link"
                                        onclick="window.location.href='/mysite/tohisweibo/?hisid={{ todo.user.id }}'">
                                    <p style="font-size:15px">{{ todo.user.name }}
                                    </p>
                                </button>
                            {% endif %}
                        </center>
                    </div>
                    <div class="col-md-10" style=" opacity:0.8; background-color:#fff;">
                        <p style="position: fixed">{{ todo.text|safe }}</p><br>
                        {% if todo.weiboimg != "" %}
                            <div>
                                <img src="{{ todo.weiboimg.url }}" style="width:300px ; height:300px;">
                            </div>
                        {% endif %}
                        {% if todo.videolink != "" %}
                            <div>
                            <iframe src="{{ todo.videolink }}" style="width:100%;height:300px" frameborder="0"
                                    allowfullscreen="allowfullscreen"></iframe>
                            </div>
                        {% endif %}
                        <div class="btn-group btn-group-md">
                            <button type="button" class="btn btn-default">详细</button>
                            <button type="button" class="btn btn-default"
                                    onclick="window.location.href='/mysite/writecomment/?weiboid={{ todo.id }}'">
                                评论{{ todo.Comment_count }}
                            </button>
                            <button type="button" class="btn btn-default" onclick = "like_change(this,{{todo.id}})">
                                <span class="glyphicon glyphicon-thumbs-up {% get_like_status todo.id %}"></span>
                                <span class="thumb_up">{% get_thumbup_num todo.id %}</span>
                            </button>
                        </div>
                        <p style="font-size: 5px">{{ todo.date }}</p>
                    </div>
                    <hr>
                </div>
                <br>
            {% endfor %}
            <br>
            <br>
            <div class="row">
                <div class="col-md-12" style=" opacity:0.8; background-color:#fff;">
                    <center>
                        <div class="pagination">
    <span class="step-links">
        {% if weibos.has_previous %}
            <button onclick="window.location.href='/mysite/tolist/?page={{ weibos.previous_page_number }}'">previous</button>
        {% endif %}

        <span class="current">
            Page {{ weibos.number }} of {{ weibos.paginator.num_pages }}.
        </span>

        {% if weibos.has_next %}
            <button onclick="window.location.href='/mysite/tolist/?page={{ weibos.next_page_number }}'">next</button>
        {% endif %}
    </span>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3" style=" opacity:0.8; background-color:#fff; border:1px solid blue;border-radius:5px;">
            <h4>{{ myup.name }}</h4>
            {% if myup.touxiangimg == "" %}
                <img src="https://gss0.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy/zhidao/wh%3D600%2C800/sign=5fb248ee858ba61edfbbc0297104bb32/ac345982b2b7d0a2e2734ab9ccef76094b369a58.jpg"
                     height="40" width="40">
            {% else %}
                <img src="{{ myup.touxiangimg.url }}" height="40" width="40"
                     style="border-radius:200px;">
            {% endif %}
            <div class="row">
                <div class="col-sm-4">
                    <h5>微博数量</h5>
                    <p>{{ myup.weibonum }}</p>
                </div>
                <div class="col-sm-4">
                    <h5>粉丝数量</h5>
                    <p>{{ myup.fannum }}</p>
                </div>
                <div class="col-sm-4">
                    <h5>关注数量</h5>
                    <p>{{ myup.concernnum }}</p>
                </div>
            </div>
            <hr>
            <h4><a href="/mysite/tomyweibo/">我的微博</a></h4>
            <hr>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">我的消息
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <button class="btn btn-link" onclick="window.location.href='/mysite/calculatemention/'">
                                    @
                                </button>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <button class="btn btn-link" onclick="window.location.href='/mysite/calculatecomment/'">
                                    评论
                                </button>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation">
                                <button class="btn btn-link" onclick="window.location.href='/mysite/calculatereply/'">
                                    回复
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                {% if myup.messagenum != 0 %}
                    <div class="col-md-1">
                        <div style="width:30px; height:30px; background-color:red; border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%; ">
                            <nobr style="color: #FFFFFF; position: relative ; top:5px">{{ myup.messagenum }}</nobr>
                        </div>
                    </div>
                {% else %}
                    <div class="col-md-1">
                    </div>
                {% endif %}
            </div>
            <hr>
            <h4><a href="/mysite/tomyfan/">我的粉丝</a></h4>
            <hr>
            <h4><a href="/mysite/tomyconcern/">我关注的人</a></h4>
        </div>
    </div>
</div>
</body>
</html>