{% load i18n static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="text-align: center;background-image: url({% static 'forbidden_city7.jpg' %});background-size: 100% 100%;
    background-repeat:no-repeat;
    background-attachment: fixed;">
<div style="margin-top: 20%;"></div>
<div style=" opacity:0.8; background-color:#fff;min-width: 230px;width: 33%;border:10px;border-radius:10px;margin-left: auto;margin-right: auto;">
    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-row field-email">
                {{ form.email.errors }}
                <label for="id_email">{%trans '请输入邮箱:' %}</label>
                {{ form.email }}
            </div>
            <input type="submit" value="{%trans '确定' %}"/>
        </fieldset>
    </form>
</div>
</body>
</html>